body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;

  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  position: relative;
  overflow-x: hidden;
}

/* Neon Watermark */
body::before {
  content: "ONLINE EXAM   ONLINE EXAM   ONLINE EXAM";
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  color: rgba(56, 189, 248, 0.05);
  font-size: 50px;
  transform: rotate(-25deg);
  line-height: 80px;
  white-space: pre;
  pointer-events: none;
}

/* Navbar */
.navbar {
  background: #020617;
  color: #38bdf8;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(56,189,248,0.3);
}

/* Main Container */
.container {
  width: 700px;
  max-width: 90%;
  margin: 50px auto;
  padding: 30px;
  background: #0f172a;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.2);
  color: #e2e8f0;
}

/* Heading */
h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #38bdf8;
}

/* Timer */
#timer {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #22c55e;
}

/* Input Fields */
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #334155;
  font-size: 14px;
  background: #020617;
  color: white;
}

/* Question Box */
.question-box {
  background: #020617;
  padding: 18px;
  margin: 15px 0;
  border-radius: 12px;
  border-left: 4px solid #38bdf8;
  transition: 0.3s;
}

.question-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.4);
}

/* Radio buttons */
.question-box input {
  margin-right: 8px;
}

/* Button */
button {
  display: block;
  margin: 20px auto;
  width: 220px;
  padding: 12px;
  background: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(56,189,248,0.5);
}

button:hover {
  background: #0ea5e9;
  box-shadow: 0 0 20px rgba(56,189,248,0.8);
}

/* Links */
a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

/* Result text */
#result {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #e2e8f0;
}
#progress-container {
  width: 100%;
  height: 10px;
  background: #1e293b;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

#progress-bar {
  height: 100%;
  width: 100%;
  background: #38bdf8;
  transition: width 1s linear;
}
.main-layout {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

/* Sidebar */
.sidebar {
  background: #020617;
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0 0 10px rgba(56,189,248,0.3);
}

.sidebar p {
  background: #1e293b;
  color: white;
  padding: 10px;
  margin: 8px 0;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar p:hover {
  background: #38bdf8;
  color: black;
}